.sidebar {
  grid-area: sidebar;
  background-color: #e7f4fd;
  padding: 2em;
}

.sidebar__filters {
  margin-bottom: 2em;
}

.sidebar__actions {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}